@media(max-width:800px){
    main{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s1{
        height: 30%;
        padding: 15px;
    }
    h2{
        margin-top: 10px;
    }
    .p1{
        margin-top: 5px;
    }
    .s2{
        width: 100%;
        height: 30%;
        padding: 15px;
        gap:10px;
    }
    .s3{
        width: 100%;
        height: 30%;
        padding: 15px;
    }
}
@media(max-width:500px){
    body{
        font-size: 12px;
    }
    button{
        height: 35px;
    }

}